.inputField{
    border: 1px solid var(--border-color);
    width: 150px;
    height: 20px;
    font-size: 15px;
    border-radius: 5px;
    color: var(--text-color);
    padding-left: 16px;
    box-sizing: border-box;
}
@media screen and (max-width: 450px) {
    .inputField{
        font-size: 12px;
    }
}