.dropBtn {
    background-color: #6C63FF;
    width: 95px;
    height: 38px;
    border-radius: 5px;
    color: white;
    font-family: "Kanit", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border: none;
    cursor: var(--mousePointer);
    text-transform: uppercase;
}
.dropBtn:hover{
    background-color: #5850DD;
    border: 1px solid #6C63FF;
}
.icon {
    width: 6px;
    height: 3px;
    color: white;
}
.list{
    position: absolute;
    background-color: #F7F7F7;
    width: 95px;
    height: 84px;
    border-radius: 5px;
    border: 1px solid #6C63FF;
    color: #6C63FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list ul{
    list-style-type: none;
    padding: 0;
    cursor: var(--mousePointer);
    width: 100%;
}
.list ul li{
    font-family: "Kanit", sans-serif;
    height: 28px;
    padding-left: 7px;
    display: flex;
    align-items: center;
}
.list ul li:hover{
    background-color: rgba(108, 99, 255, 0.2);
}
@media screen and (min-width: 460px) {
    .dropBtn {
        width: 95px;
        height: 38px;
    }
    .list{
        width: 95px;
    }
}
@media screen and (max-width: 460px) {
    .dropBtn {
        width: 55px;
        height: 30px;
        font-size: 7px;
        padding-left: 3px;
    }
    .list{
        width: 55px;
        font-size: 10px;
    }
    .list ul li{
        padding-left: 3px;
    }
    .icon {
        width: 6px;
        height: 3px;
    }
}