.container{
    width: 750px;
    margin: 0 auto;
}
@media screen and (min-width: 760px) {
    .container{
        width: 750px;
    }
}
@media screen and (max-width: 760px) {
    .container{
        width: 550px;
    }
}
@media screen and (max-width: 640px) {
    .container{
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    .container{
        width: 200px;
    }
}
@media screen and (max-width: 310px) {
    .container{
        margin: 0 0 0 30px;
    }
}