.btn{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #534CC2;
    width: 123px;
    height: 38px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #6C63FF;
    color: white;
    font-family: 'Railway', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    padding: 0 14px;
}
.btn:hover{
    background-color: #6C63FF;
}
.btn span{
    border-radius: 50%;
    border: 1px solid white;
    width: 20px;
    height: 20px;
}