.container{
    display: flex;
    width: 520px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 17px;
    cursor: var(--mousePointer);
}
.ordinaryTitle{
    margin: 0;
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    color: var(--text-color);
    width: 420px;
    height: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.crossedTitle{
    color: var(--crossedNote);
    text-decoration: line-through;
    width: 420px;
    height: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin: 0;
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
}
.editIcon:hover .editBtn{
    stroke: #6C63FF;
    z-index: 1;
}
.deleteIcon .iconGroup{
    stroke: #CDCDCD;
    fill: none;
    z-index: 1;
    visibility: hidden;
}
.editIcon{
    visibility: hidden;
}
.container:hover .editIcon,
.container:hover .deleteIcon .iconGroup {
    visibility: visible;
}
.deleteIcon:hover .iconGroup {
    stroke: #E50000;
    z-index: 1;
}
.formContainer{
    display: flex;
    justify-content: center;
    width: 500px;
    background-color: var(--bg-color);
    border-radius: 20px;
}
.addForm{
    width: 440px;
}
.addForm h3{
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 24px;
    margin: 18px 0 25px 0;
}
.addFormInput{
    display: flex;
    justify-content: center;
    width: 440px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    font-family: "Inter", sans-serif;
    outline: none;
    font-size: 16px;
    padding-left: 16px;
    box-sizing: border-box;
    color: var(--text-color);
}
.buttonOptions{
    width: 440px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 10px auto;
}
.addFormBtn{
    background-color: #6C63FF;
    width: 97px;
    height: 38px;
    text-transform: uppercase;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: var(--mousePointer);
}
.cancelFormBtn{
    background-color: var(--bg-color);
    width: 110px;
    height: 38px;
    text-transform: uppercase;
    color: #6C63FF;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #6C63FF;
    cursor: var(--mousePointer);
}
.shadedBackground{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.dateField{
    margin: 10px 0 0 0;
}
.addFormDescription{
    width: 440px;
    flex: 1;
    height: 100px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    font-family: "Inter", sans-serif;
    font-size: 12px;
    outline: none;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-left: 16px;
    box-sizing: border-box;
    color: var(--text-color);
}
.description{
    margin-top: 20px;
}
.error{
    border: 1px solid red !important;
}
@media screen and (max-width: 640px) {
    .container{
        width: 400px;
    }
    .ordinaryTitle{
        width: 300px;
    }
    .crossedTitle{
        width: 300px;
    }
    .formContainer{
        width: 450px;
    }
    .addFormInput{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        border: 1px solid #6C63FF;
        font-family: "Inter", sans-serif;
        outline: none;
    }
    .addFormDescription{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .buttonOptions{
        width: 400px;
        display: flex;
        justify-content: space-between;
        margin: 20px auto 10px auto;
    }
    .dateField{
        width: 400px;
        margin: 10px auto 0 auto;
    }
    .addForm h3{
        width: 400px;
    }
}
@media screen and (max-width: 540px) {
    .container{
        width: 300px;
    }
    .ordinaryTitle{
        width: 200px;
    }
    .crossedTitle{
        width: 200px;
    }
}
@media screen and (max-width: 460px) {
    .container{
        width: 200px;
        padding-bottom: 8px;
    }
    .ordinaryTitle{
        width: 100px;
        font-size: 10px;
    }
    .crossedTitle{
        width: 100px;
        font-size: 10px;
    }
    .editIcon svg {
        width: 10px;
        height: 10px;
    }
    .deleteIcon svg{
        width: 10px;
        height: 10px;
    }
    .formContainer{
        width: 350px;
    }
    .addForm h3{
        font-size: 20px;
        margin: 20px auto 8px auto;
    }
    .addFormInput{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        height: 30px;
        font-size: 12px;
    }
    .addFormDescription{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .buttonOptions{
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin: 20px auto 10px auto;
    }
    .dateField{
        width: 300px;
        margin: 10px auto 0 auto;
    }
    .addForm h3{
        width: 300px;
    }
    .addFormBtn{
        height: 30px;
        font-size: 15px;
    }
    .cancelFormBtn{
        height: 30px;
        font-size: 15px;
    }
}