.btn{
    background-color: #6C63FF;
    border: none;
    height: 38px;
    width: 38px;
    border-radius: 5px;
    cursor: var(--mousePointer);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #6C63FF;
}
.btn:hover{
    background-color: #5850DD;
}
@media screen and (max-width: 460px) {
    .btn {
        height: 30px;
    }
    .btn img{
        width: 15px;
        height: 15px;
    }
}