.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    margin: 0 auto;
}
.descriptionInput{
    flex: 1;
    height: 100px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    outline: none;
}
.helperText {
    color: red;
    font-size: 12px;
    display: inline-block;
    font-family: "Inter", sans-serif;
}
.error{
    border: 1px solid red;
}