.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    margin: 0 auto;
}
.descriptionInput{
    flex: 1;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #6C63FF;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    outline: none;
}