.searchBarContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.input {
    flex: 1;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #6C63FF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    outline: none;
}

.icon {
    position: absolute;
    right: 16px;
    cursor: pointer;
    height: 24px;
    width: 24px;
}
@media screen and (max-width: 460px) {
    .icon {
        right: 6px;
        height: 15px;
        width: 15px;
    }
}