.input{
    width: 26px;
    height: 26px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    outline: none;
    cursor: var(--mousePointer);
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
}
.input:checked{
    background-color: #6C63FF;
    border: 1px solid #6C63FF;
}
.input:checked::after{
    content: "";
    height: 14px;
    width: 6px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-color: white;
    border-style: solid;
    display: flex;
    align-items: center;
    margin-top: 2px;
}
@media screen and (max-width: 450px) {
    .input{
        width: 16px;
        height: 16px;
    }
    .input:checked::after{
        height: 8px;
        width: 3px;
    }
}